@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


:root{
    --color-primario: #15BF98;
    --color-secundario: #47EBC5;
    --color-terciario: #06372C;
    --color-cuarto: #A3F5E2;
}




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Amatic SC', cursive;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    display: flex;
    background-color: var(--color-primario);
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
}

nav h1 {
    font-size: 50px;
    font-weight: bold;
}

nav img{
    height: 40px;
    width: auto;
    margin: 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarjeta{
    display: flex;
    height: 80px;
    width: 350px;
    margin: 10px;
    padding: 2% 5% 2% 2%;
    background-color: var(--color-secundario) ;
    border-radius: 10px;
    border: 1px solid var(--color-terciario);
    justify-content: space-between;
}

#tarjeta:hover{
    font-weight: bold;
    border: 0;
    box-shadow: 0 8px 20px var(--color-terciario);
    color: #ffff;
    transform: scale(1.05);
    z-index: 2;
}

#tarjeta img{
    size: 50%;
    object-fit: cover;
    border-radius: 100%;
}

#tarjeta h3{
    font-size: 35px;
    
    padding-left: 4%;
}

footer{
    box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
}